.jumbotron {
    background-color:#252850;
    min-width: 585px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    color:white;
  }

.imagen-hotel{
	border: 2px solid black;
}

.card-header{
    color:blue;
}

.card-title{
    margin: 10px 10px 10px 10px;
    border: 1px solid blue;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.reserva-icon{
    padding-right: 10px;
}


.portada{
    background-image: url('../img/banner.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    margin-top: -50px;
}

.portada-wrapper{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    text-align: center;
}

.img-fluid {
    border-radius: 20px;
}

.portada-text{
    background-color: rgba(70,203,253,0.9);
    color: #ffffff;
    display: inline-block;
    padding: 30px;
}

.portada-title{
    font-size: 46px;
    margin: 0;
    text-transform: uppercase;
}


.portada-sub-title{
    font-size: 18px;
    text-transform: uppercase;
}
.portada-img-container{
    margin-top: 0;

}

.direct{
    color:white;
}

.tab-content{
    padding-top: 10px;
}


@media screen and (max-width: 400px){
    .titulo-app{
        font-size:30px;
    }
    .portada-sub-title{
        font-size: 15px;
    }

    .portada-title{
        font-size: 20px;
    }
}

@media screen and (max-width: 570px){
    .titulo-app{

        font-size:30px;
    }
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.info-container {
	width: 100%;
	background: #f2f2f2;
	font-family: Raleway;
}

.info-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	padding: 30px 200px;
}

.info-main h3 {
	color: #00C6EE;
	font-size: 40px;
	text-align: center;
}

.info-main p {
	padding: 20px 0;
}


.info-main a {
	display: inline-block;
	background: #BF0026;
	color: #fff;
	text-decoration: none;
	padding: 12px 20px;
}

footer {
	width: 100%;
	font-family: Raleway;
}

.footer-container {
	width: 100%;
	background: #252b50;
	color: #fff;
}

.footer-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-main .footer-columna {
	width: calc(100% / 3);
	text-align: justify;
}


.footer-main .footer-columna:nth-child(2) {
	padding: 0 20px;
}

.footer-main .footer-columna h3 {
	font-size: 32px;
	color: #00C6EE;
	margin-bottom: 20px;
}

.footer-main .footer-columna input[type="email"] {
	border: none;
	width: 100%;
	border: 1px solid #00C6EE;
	font-size: 14px;
	padding: 10px;
	font-family: Raleway;
}

.footer-main .footer-columna input[type="submit"] {
	border: none;
	background: #00C6EE;
	color: #fff;
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
	font-family: Raleway;
}

.footer-main .footer-columna span p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Raleway;
}

.footer-copy-redes {
	width: 100%;
	background: #0071bc;
	border-top: 3px solid #fff;
}

.main-copy-redes {
	width: 98%;
	max-width: 1000px;
	padding: 15px 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.main-copy-redes .footer-copy {
	width: 70%;
	color: #fff;
}

.main-copy-redes .footer-redes {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.main-copy-redes .footer-redes a {
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius:50%;
	background: #fff;
	color: #000;
	text-align: center;
}

@media screen  and (max-width: 750px) {
	.info-main {
		padding: 30px 100px;
	}

	.footer-main .footer-columna {
		padding: 0 10px;
	}

	.footer-main .footer-columna h3 {
		font-size: 28px;
	}

	.footer-main .footer-columna p {
		font-size: 14px;
	}
}

@media screen  and (max-width: 640px) {
	.info-main {
		padding: 30px 30px;
	}

	.info-main h3 {
		font-size: 30px;
	}

	.footer-main {
		padding: 10px 0;
	}

	.footer-main .footer-columna {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}

	.footer-main .footer-columna h3 {
		margin-bottom: 5px;
	}

	.footer-main .footer-columna span {
		display: block;
	}
	
	.main-copy-redes .footer-copy {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.main-copy-redes .footer-redes {
		width: 80%;
		margin: auto;
	}

}